{% extends "layout.html" %}
{% block content %}

<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
<div id="content">
					<div class="post">
<div class="post post-alt">


<h4>Developed By:</h4>
<p><B><a href="https://iitg.ac.in/stud/adhiraj/" target="new">Adhiraj Nath</a></B><br>
Ph.D. Student<br>
<a href="https://iitg.ac.in/ubora/" target="new">Bioengineering Research Laboratory</a><br>
<a href="https://www.iitg.ac.in/biotech/" target="new">Department of Biosciences and Bioengineering</a><br>
<a href="https://www.iitg.ac.in/" target="new">IIT Guwahati, India</a><br>

email: adhiraj[AT*]iitg.ac.in<br>

<i>(Replace [AT*] with @ )</i><br>
Phone: +91 87230 13467




     </div>
    </div>

</div>
</div>

						</div>
					</div>
					</div>
					<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>


{% endblock content %}