<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Forthright  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130409

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>scRNA-Seq scanpy</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href ="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js">
	<link href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
	<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed|Open+Sans:400,300,700|Yesteryear" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" media="screen" />
<link rel="icon" href="{{ url_for('static', filename='icon.ico') }}" type="image/icon type">
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-ofj5{border-color:#ffffff;text-align:right;vertical-align:top}
</style>

	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<div id="menu-wrapper">
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="{{url_for('index')}}">Homepage</a></li>
			<li><a href="{{url_for('about')}}">About</a></li>
		</ul>
	</div>
	<!-- end #menu -->
</div>
<div id="header-wrapper">
	<div id="header">
		<div id="logo">
			<h1>Single Cell RNA-Seq scanpy</h1>
		</div>
	</div>
</div>
<div id="wrapper">
	<!-- end #header -->


<div class="container">


        {% block content %}{% endblock content %}

  <!-- Content here -->
</div>
				<!-- end #sidebar -->

	<!-- end #page -->
</div>

<!-- end #footer -->
</div>
<!--<div id="footer">-->
<!--	<p>Design by <a href="https://iitg.ac.in/stud/adhiraj/" rel="nofollow">Adhiraj Nath</a>.</p>-->
<!--</div>-->
</body>
<script type='module' src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</html>
